
.product-item {
    position: relative;
    border-radius: 9px;
    background-color: #ffffff;
    margin: 0 auto;
    overflow: hidden;
    padding-block: 15px;
    padding-inline: 10px;
    width: 100%;
    align-items: center;
}



.product-item:hover{
    transition: .4s ease;
    box-shadow: -1px -1px 3px 0px rgb(134, 134, 134) inset,
               -1px 1px 3px 0px rgb(134, 134, 134) inset;
}



.product-item .imgs{
    width: 100%;
    height: 250px;
    margin: 0 auto;
    position: relative;
    aspect-ratio: 1/1;

}

.product-item  img{
    transition: none;
    width: 100%;
    height: 100%;
    object-fit: contain;
}


.product-item  img.default{
    z-index: 1;
    position: relative;

}



.product-item  img.hover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0;
    transition: 1s ease;
}


.product-item:hover .imgs{
    transition: .4s ease;
    transform: scale(1.05)  ;
}

.product-item:hover  img.default{
    transition: 1.3s ease;
    opacity: 0;
}

.product-item:hover  img.hover{
    transition: 1.3s ease;
    opacity: 1;
}



.product-item .description{
    font-weight: bold;
    text-transform: capitalize;
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: center;
    margin-top: 9px;
    padding-inline: 10px;
    padding-block: 5px;
    letter-spacing: 2px;
    .left{
        display: flex;
        flex-direction: column;
        gap: 9px;
        font-size: 17px;

        .name{
            font-size: 14px;
            color: rgb(254, 118, 118);
        }

        .size{
            font-size: 10px;
            display: flex;
            flex-direction: column;
            gap:4px;
            color: gray;
            ul{
                display: flex;
                margin-top: 2px;
                justify-content: flex-start;
                gap: 15px;
                flex-wrap: wrap;
                li{
                    background-color: rgb(216, 216, 216);
                    padding: 10px;
                    text-align: center;
                    border-radius: 3px;
                    font-weight: bold;
                    color: rgb(24, 21, 21);
                }
            }
        }
    }

    .price{
        font-size: 20px;
        display: inline;
        text-align: right;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        span{
            font-size: 10px;
            transform: translateY(-3px);
            text-transform: uppercase;
        }
    }

}

.colors{
    padding-inline: 15px;
    padding-top: 5px;
    display: flex;
    align-items: stretch;
    gap: 10px;

    span{
        padding: 10px;
        border-radius: 50%;
        box-shadow: 0px 0px 1px 2px rgba(143, 139, 139, 0.455);

    }

}


.product-item .actions{
    top: 10px;
    right: 10px;
    position: absolute;
    display: grid;
    gap: 6px;
}

.product-item .actions button{
    height: 34px;
    border-radius: 5px;
     z-index: 3;
    font-size: 11px;
    color: rgb(255, 255, 255);
    border: solid 1px var(--backgray);
    aspect-ratio: 1/1;
    padding: 5px;
    img{
        height: 100%;
        aspect-ratio: 1/1;
        width: 100%;
    }

    &.added{
      background-image: linear-gradient(45deg,rgb(139, 208, 87),rgb(129, 244, 171));
    }
}


.status{
  position: absolute;
  bottom: 12px;
  font-family: sambats;
  font-weight: 600;
  color: rgb(249, 88, 222);
  letter-spacing: 5px;
  border-radius: 12px;
  text-transform: uppercase;
  font-size: 10px;
  text-align: center;
  right: 10px;
  padding-block: 5px;
  padding-inline: 15px;
  padding-top: 8px;
  background-color: rgb(240, 240, 240);
}


@media (min-width: 425px){
  .product-item{
    transition: .5s ease;
    width: 90%;
  }
}

@media (min-width: 700px){
  .product-item{
    transition: .5s ease;
    width: 90%;

    &:hover{
      transition: .4s ease;
      transform: translateY(-20px);
      box-shadow: inset rgba(215, 215, 215, 0.34) 0px 0px 2px 3px;
    }
  }
}


@media (min-width: 1024px){
  .product-item{
    transition: .5s ease;
    max-width: 300px;
  }
}
