.product-container{
  padding: 25px;
  position: relative;
  padding-block: 12px;
  flex: 0 0 80%;
  min-width: 290px;
  max-width: 440px;
  position: relative;
  display: flex;
  gap: 14px;
  flex-direction: column;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: rgb(219, 219, 219) 0px 0px 3px 0px inset,
              rgba(29, 30, 32, 0.198) 0px 0px 10px 1px ;
}
.colors{
  padding-block: 5px;
  display: flex;
  gap: 10px;

  span{
      padding: 10px;
      border-radius: 50%;
      box-shadow: 0px 1px 1px 2px rgba(195, 195, 195, 0.455);

  }

}

.imgs{
  width: 100%;
  position: relative;
  flex-grow: 1;
  flex-shrink: 0;
  overflow-x: scroll;
  display: flex;
  gap: 15px;
  scroll-snap-type: inline mandatory;
  overscroll-behavior-inline: contain;
  aspect-ratio: 1/1;

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}
}

.imgs img{
  scroll-snap-align: start;
  transition: none;
  width: 100%;
  flex: 1 0 100%;
}

.description{
  font-weight: bold;
  text-transform: capitalize;
  display: grid;
  grid-template-columns: 60% 40%;
  align-items: center;
  padding-block: 5px;
  letter-spacing: 2px;
  .left{
      display: flex;
      flex-direction: column;
      gap: 9px;
      font-size: 17px;

      .name{
          font-size: 14px;
          color: rgb(254, 118, 118);
      }

      .size{
          font-size: 10px;
          display: flex;
          flex-direction: column;
          gap:4px;
          color: gray;
          ul{
              display: flex;
              margin-top: 2px;
              justify-content: flex-start;
              gap: 15px;
              flex-wrap: wrap;
              li{
                  background-color: rgb(216, 216, 216);
                  padding: 10px;
                  text-align: center;
                  border-radius: 3px;
                  font-weight: bold;
                  color: rgb(24, 21, 21);
              }
          }
      }
  }

  .price{
      font-size: 20px;
      display: inline;
      text-align: right;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      span{
          font-size: 10px;
          transform: translateY(-3px);
          text-transform: uppercase;
      }
  }

}

.colors-action{
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.action
{
  display: flex;
  justify-content: center;
  button{
    border-radius: 25px;
    height:  30px;
    width: 100%;
    display: flex;
    padding-inline: 30px;
    padding-block: 4px;
    box-shadow: rgb(181, 180, 180) 0px 0px 4px 1px;
    transition: border ease .5s;
    justify-content: center;
    img{
      width: 70%;
      height: 100%;

    }

    &.added{
      background-image: linear-gradient(45deg,rgb(139, 208, 87),rgb(129, 244, 171));
      transition: background ease .5s;

      svg{
        fill: rgb(255, 255, 255);
      }
    }
  }
}


.overlay
{
  background-image: linear-gradient(40deg,rgb(76, 112, 122)  ,rgb(120, 71, 108)  );
  background-image: url('../../../assets/images/icons/13757659_5335769.webp');
  background-size: cover;
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  z-index: 25 !important;
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity visibility 1s ease;
  &.active{
    animation: show 1s ease forwards;

  }
  &.disabled{
    animation: hide 1s ease forwards;
  }
}


.close
{

  position: absolute;
  right: -5px;
  top: -5px;
  padding: 15px;
  border-radius: 50%;
  background-color: rgb(255, 154, 154);
}


@keyframes show {
  to{
    opacity: 1;
    visibility: visible;
  }
}
 @keyframes hide {
  from{
    visibility: visible;
    opacity: 1;
  }
  to{
    opacity: 0;
    visibility: hidden;
  }
 }


 @media (min-width: 475px){
  .product-container{
      flex: 0 0 440px;
  }
}
