<footer>
  <div class="contact">
      <h3>contact</h3>
      <ul>
          <li>
            <img src="../../../assets/images/icons/location-outline.svg" alt="">
            cameroun, douala
          </li>
          <li>
            <img src="../../../assets/images/icons/phone-portrait-outline.svg" alt="">
            (+237) 6 xx xx xx xx</li>
            <li><a target="_blank" href="mailto:glem.s.collection@gmail.com">
              <img src="../../../assets/images/icons/mail-outline.svg" alt="">
              glem.s.collection@gmail.com</a>
            </li>
      </ul>
  </div>
  <div class="follow">
      <h3>rejoins nous</h3>
      <div class="social-media">
        <a target="_blank" href="https://www.facebook.com/profile.php?id=100083993751208">
              <button>
             <img src="../../../assets/images/icons/logo-facebook.svg" alt="">
            </button>
          </a>
          <a target="_blank" href="https://www.tiktok.com/@glem.s_collection">
                <button>
                <img src="../../../assets/images/icons/logo-tiktok.svg" alt="">
              </button>
            </a>
            <a target="_blank" href="https://chat.whatsapp.com/DkdamR1nsZJ6tRomP8c8pg">
                <button>
                <img src="../../../assets/images/icons/logo-whatsapp.svg" alt="">
              </button>
            </a>
      </div>
  </div>
  <div class="copyright">
      Copyright © glem's 2022
  </div>
</footer>
